body {
    font-size: 24px;
  	font-family: 'Sono', sans-serif;
	
    color: #000000;
    background-color: #6f8c7d;
	
    height: 100vh;
    margin: 0;
	
	-webkit-font-smoothing: antialiased;
}

a:link {
    color: #000088;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #440088;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #005555;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #000088;
    background-color: transparent;
    text-decoration: underline;
}

button {
    background-color: #4CAF50;
    border: 2px solid #000000;
    border-radius: 4px; 
    box-shadow: inset 2px 2px 1px #81ce84, inset -2px -2px 1px #357e37;
    color: #000000;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    font-size: 64px;
    font-family: 'Work Sans', sans-serif;
    margin: 20px;
    width: 94px;
    cursor: pointer;
}

button:before {
    background-color: #4be9b7;
    transition: opacity .3s ease-in-out;
}

button:after {
    background-color: #0c8d86;
    transition: opacity .3s ease-in-out;
}

::-webkit-file-upload-button {
    background-color: #4CAF50;
    border: 2px solid #000000;
    border-radius: 4px; 
    box-shadow: inset 2px 2px 1px #81ce84, inset -2px -2px 1px #357e37;
    color: #000000;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    margin: 4px;
    cursor: pointer;
}

button:disabled,
button[disabled] {
    background-color: #849b84;
    box-shadow: inset 1px 1px 1px #849b84;
    cursor: default;
}

textarea {
    background-color: #add3ad;
    border: 2px solid #000000;
    border-radius: 4px; 
    color: #000000;
    padding: 2px 6px;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    margin: 4px;
    width: calc(100% - 24px);
    resize: vertical;
}

input {
    background-color: #add3ad;
    border: 2px solid #000000;
    border-radius: 4px; 
    color: #000000;
    padding: 2px 6px;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    margin: 4px;
    width: 80px;
}

input:disabled,
input[disabled]{
    background-color: #9cbb9c;
    cursor: default;
}

input[type="file"] {
    width: calc(100% - 24px);
}

select {
    background-color: #add3ad;
    border: 2px solid #000000;
    border-radius: 4px; 
    color: #000000;
    padding: 2px 6px;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    margin: 4px;
    width: 200px;
}

table, td, th {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: #7ea893;
}

.tablebottom {
    background-color: #638976;
}

.tablecontent {
    margin: 4px;
}

.modal {
    position: absolute;
    width: 1000px;
    background: #638976;
    box-shadow: 3px 3px 1px #4e6258;
    border-radius: 4px;
    margin-left: -4px;
    z-index: 100; 
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    opacity: 0;
    
    transition: all 0.15s ease 0.3s;
}

[data-tooltip]:hover:before {
    display: inline-block;
    opacity: 1;
    
    animation: fadeIn 0.3s;
    padding: 8px;
    color: #c3ebc3;
    background: #3b4942;
    border-radius: 4px;
    margin-top: -36px;
    margin-left: -4px;
}

.navbar {
    height: 50px;
    font-size: 32px;
  	/*text-shadow: 3px 3px 1px #4e6258;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin-bottom: 14px;
}

.topbutton {
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}

.bar {
	background-color: #000000;
	height: 16px;
    width: 100%;
    margin-bottom: 32px;
}

.barshadow {
	background-color: #4e6258;
	height: 0px;
    width: 100%;
}

.clockdiv {
    font-size: 64px;
    width: 100%;
    height: 100px;
    text-align: center;
}

.code {
    color: #66AADD;
    font-size: 64px;
    text-align: center;
}

.keypadDiv {
    left: 25%;
    right: 25%;
    text-align: center;
}

.keypadContainerDiv {
    width:100%;
    display: flex;
    justify-content: center;
}