
.tablebottom {
    background-color: #638976;
}

.tablecontent {
    margin: 4px;
}

.modal {
    position: absolute;
    width: 1000px;
    background: #638976;
    box-shadow: 3px 3px 1px #4e6258;
    border-radius: 4px;
    margin-left: -4px;
    z-index: 100; 
}

.navbar {
    height: 50px;
    font-size: 32px;
  	/*text-shadow: 3px 3px 1px #4e6258;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    padding: 4px;
    margin-bottom: 14px;
}

.topbutton {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.bar {
	background-color: #000000;
	height: 16px;
    width: 100%;
    margin-bottom: 32px;
}

.barshadow {
	background-color: #4e6258;
	height: 0px;
    width: 100%;
}

.clockdiv {
    font-size: 64px;
    width: 100%;
    height: 100px;
    text-align: center;
}

.code {
    color: #AA2222;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

.keypadDiv {
    left: 25%;
    right: 25%;
    text-align: center;
}

.keypadCode {
    font-weight: bold;
    text-align: center;
    width: 250px;
}

.keypadName {
    width: 200px;
}

.keypadButton {
    text-align: center;
    width: 100px;
}

.keypadContainerDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.databaseButton {
    text-align: center;
    font-size: 24px;
}

.infoText {
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.centerContent {
    display: flex;
    justify-content: center;
}

.overtime {
    color: #99008f;
}